MVC Project/.vs/Orapmshms/v17/.futdcache.v2
MVC Project/.vs/Orapmshms/DesignTimeBuild/.dtbcache.v2
MVC Project/.vs/ProjectEvaluation/orapmshms.metadata.v9.bin
MVC Project/.vs/ProjectEvaluation/orapmshms.projects.v9.bin
MVC Project/.vs/Orapmshms/FileContentIndex/a7d92d59-be0b-4b32-a805-828143021741.vsidx
MVC Project/.vs/Orapmshms/v17/.suo
MVC Project/.vs/ProjectEvaluation/orapmshms.strings.v9.bin
MVC Project/obj/Debug/net8.0/staticwebassets.development.json
